{% load static %}
<!DOCTYPE html>

<head>
    <style>
        .xyz{
          margin-bottom: 0px;
          background-image: url('{% static "image/donate.jpg" %}');
          background-size: cover;
          background-repeat: no-repeat;
        }
      </style>
      
</head>


<body>
  {% include "blood/navbar.html" %}
<br>
<section id="section-jumbotron" style="margin-bottom: 0px;" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center xyz">
    <div class="container text-center">
        <br><br><br><br><br><br><br><br>
        <h1 class="display-1" style="font-size: 70px; font-weight: 800; color: rgb(117, 0, 0); text-shadow: 2px 2px 5px rgba(49, 1, 1, 0.9); font-family: 'Times New Roman', Times, serif;">Bloodline Heros</h1>
        <p style="font-size: 20px;">-"You don't need to be a doctor to be a hero, just your donate blood."-</p>
        <br><br><br><br><br><br>
      <br><br><br><br>
      
    </div>  
  </section>

  <div class="jumbotron" style="margin-top: 0px;margin-bottom: 0px;">

    <p class="lead text-center">“Opportunities knock the door sometimes, so don’t let it go and donate blood.”</p>
    
    <p class="text-center">- Bloodline Heros -</p>
    
  </div>

  <section class="container-fluid my-5">
    <div class="container">
      <h4 class="card-title text-center pb-4">Our Mission & Vision</h4>
      <div class="row pt-3">
        <div class="col-5">
          <img src="../static/image/img-2.jpg" alt="mission" class="img-fluid rounded" style="border-radius: 5px; border: 2px solid darkred; margin-left: 0px;">
        </div>
        <div class="lead col-7">
          <div class="card-body pt-3" style="font-family: league spartan;">
            <h4 class="card-title">Mission:</h4>
            <p class="card-text" style="font-size: 18px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, earum unde deleniti, voluptatum voluptates minus hic vero laborum atque aliquid sit id, qui vitae cupiditate labore optio in velit magnam!</p>
          </div>
  
          <div class="card-body pt-3" style="font-family: league spartan;">
            <h4 class="card-title">vision:</h4>
            <p class="card-text" style="font-size: 18px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, earum unde deleniti, voluptatum voluptates minus hic vero laborum atque aliquid sit id, qui vitae cupiditate labore optio in velit magnam!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="jumbotron" style="margin-top: 0px;margin-bottom: 0px;">

    <article class="container">
      <h4 class="card-title text-center pb-2">Donation practice in community.</h4>
      <p class="card-text text-start" style="font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi itaque accusamus magnam voluptatibus? Minus itaque mollitia illo libero optio quisquam, esse dolorum doloremque debitis, enim dignissimos animi aperiam aut facere!
      Doloremque velit at numquam. Itaque aliquid repellendus minima nisi dignissimos maiores enim soluta omnis sapiente eveniet, sequi accusamus architecto placeat veniam dicta reiciendis laboriosam alias pariatur quo magnam ducimus earum?
      Quae reprehenderit dolorem quis nisi itaque quas explicabo deleniti nesciunt id a architecto, et sequi, nam vel! Amet ratione adipisci nesciunt commodi recusandae, voluptatibus officiis. Esse nobis praesentium reprehenderit at.
      Hic, enim possimus aliquam consequuntur ab quasi corporis molestiae voluptatem non amet recusandae veritatis? Ipsa culpa amet quasi rerum qui architecto magnam porro, recusandae illum deleniti praesentium. Sunt, officiis veritatis.
      Consequuntur perferendis vel quibusdam optio ducimus, architecto unde itaque harum beatae pariatur est aperiam magni mollitia a quo modi cupiditate eaque quos velit maiores laboriosam! Iste soluta voluptas ipsam eum.</p>
      <figcaption class="blockquote-footer">"write by M.Pascal, 2024"</figcaption>

    </article>
  </div>

  <div class="container my-5">

    <h4 class="card-title text-center pb-4">About Donation.</h4>
    <div class="row lead">
      <div class="col-sm-12 col-md-6 col-lg-4 card" style="width: 18rem; border: none;">
        <video class="card-img-top" src="../static/image/Video-1.mp4" controls autoplay loop muted>Video-1</video>
        <div class="card-body ms-0">
          <h5 class="card-title">What happens when I give blood?</h5>
          <p class="card-text" style="font-family: league spartan; font-size: 18px;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="https://www.youtube.com/@ummc" class="btn btn-primary">Watch More</a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 card" style="width: 18rem; border: none;">
        <video class="card-img-top" src="../static/image/Video-2.mp4" controls autoplay loop muted>Video-1</video>
        <div class="card-body ms-0">
          <h5 class="card-title">Donate Blood, Save Lives</h5>
          <p class="card-text" style="font-family: league spartan; font-size: 18px;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="https://www.youtube.com/@ummc" class="btn btn-primary">Watch More</a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 card" style="width: 18rem; border: none;">
        <video class="card-img-top" src="../static/image/Video-3.mp4" controls autoplay loop muted>Video-1</video>
        <div class="card-body ms-0">
          <h5 class="card-title">Voluntary Blood Donation</h5>
          <p class="card-text" style="font-family: league spartan; font-size: 18px;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="https://www.youtube.com/@ummc" class="btn btn-primary">Watch More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="card bg-dark text-white">
      <video src="../static/image/pubs.mp4" class="card-img" autoplay muted loop>Ads for donations.</video>
      <div class="card-img-overlay text-dark">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text">Last updated 3 mins ago</p>
      </div>
    </div>
  </div>


  {% include "blood/footer.html" %}


</body>

</html>
