{% load static %}
<!DOCTYPE html>

<head>
    <style>
        .xyz{
          margin-bottom: 0px;
          background-image: url('{% static "image/donate.jpg" %}');
          background-size: cover;
          background-repeat: no-repeat;
        }

        a .btn:hover{
          background-color: red;
          color: white;
          cursor: pointer;
          transform: scale(1.02);
        }
      </style>
      
</head>


<body>
  {% include "blood/navbar.html" %}
<br>
<section id="section-jumbotron" style="margin-bottom: 0px;" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center xyz">
    <div class="container text-center">
        <br><br><br><br><br><br><br><br>
        <h1 class="display-1" style="font-size: 70px; font-weight: 800; color: rgb(117, 0, 0); text-shadow: 2px 2px 5px rgba(49, 1, 1, 0.9); font-family: 'Times New Roman', Times, serif;">Bloodline Heros</h1>
        <p style="font-size: 20px;">-"You don't need to be a doctor to be a hero, just your donate blood."-</p>
        <br><br><br><br><br><br>
      <br><br><br><br>
      
    </div>  
  </section>

  <div class="jumbotron" style="margin-top: 0px;margin-bottom: 0px;">

    <p class="lead text-center">“Opportunities knock the door sometimes, so don’t let it go and donate blood.”</p>
    
    <p class="text-center">- Bloodline Heros -</p>
    
  </div>

  <section class="container-fluid my-5">
    <div class="container">
      <h4 class="card-title text-center pb-4">Our Mission & Vision</h4>
      <div class="row pt-3">
        <div class="col-5">
          <img src="../static/image/img-2.jpg" alt="mission" class="img-fluid rounded" style="border-radius: 5px; border: 2px solid darkred; margin-left: 0px;">
        </div>
        <div class="lead col-7">
          <div class="card-body pt-3" style="font-family: league spartan;">
            <h4 class="card-title">Mission Statement</h4>
            <p class="card-text" style="font-size: 18px;">Our mission is to connect donors with those in need through safe blood donations. We envision a world where everyone has access to life-saving blood. Learn how to get involved and explore educational resources to make a positive impact.</p>
          </div>
  
          <div class="card-body pt-3" style="font-family: league spartan;">
            <h4 class="card-title">vision:</h4>
            <p class="card-text" style="font-size: 18px;">Our vision is to eliminate blood shortages and ensure everyone has access to life-saving blood. We aim to be the leading blood donation platform, inspiring global donors through innovation, collaboration, and commitment to safety and transparency.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="jumbotron" style="margin-top: 0px;margin-bottom: 0px;">

    <article class="container">
      <h4 class="card-title text-center pb-2">Donation practice in community.</h4>
      <p class="card-text text-start" style="font-size: 16px; text-indent: 30px;">Donation practices in communities play a vital role in fostering social responsibility and solidarity. By actively participating in blood donation drives, community members contribute to a reliable supply of blood, which is essential for medical emergencies, surgeries, and chronic conditions. This practice strengthens community bonds and promotes a culture of caring and empathy. <br>

      Blood donation events often serve as platforms for raising awareness about the importance of giving blood, educating people on eligibility criteria, and debunking myths and misconceptions. Regular blood donations are crucial for maintaining an adequate supply of blood, as it has a limited shelf life and a constant demand. <br>
        
      Moreover, voluntary blood donation helps ensure the availability of rare blood types, which can be lifesaving in critical situations. It also provides an opportunity for individuals to undergo regular health check-ups, as donors are screened for various health conditions before donating. Overall, donation practices in communities empower individuals to make a positive impact on others' lives while reinforcing community resilience and well-being.</p>
      <figcaption class="blockquote-footer">"written by Pascal M., 2024"</figcaption>

    </article>
  </div>

  <div class="container my-5">

    <h4 class="card-title text-center pb-4">About Donation.</h4>
    <div class="row lead">
      <div class="col-sm-12 col-md-6 col-lg-4 card" style="width: 18rem; border: none;">
        <video class="card-img-top" src="../static/image/Video-1.mp4" controls autoplay loop muted>Video-1</video>
        <div class="card-body ms-0">
          <h5 class="card-title">What happens when I give blood?</h5>
          <p class="card-text" style="font-family: league spartan; font-size: 18px;">When you give blood, a small amount is drawn from your arm, which typically takes about 10 minutes. Your body quickly replenishes the lost blood, and your donation can help save multiple lives.</p><br>
          <a href="https://www.youtube.com/@ummc" class="btn" style="background-color: darkred; font-size: 16px; border: none; border-radius: 20px; color: white;">Watch More</a>
        </div>

      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 card" style="width: 18rem; border: none;">
        <video class="card-img-top" src="../static/image/Video-2.mp4" controls autoplay loop muted>Video-1</video>
        <div class="card-body ms-0">
          <h5 class="card-title">Donate Blood, Save Lives</h5>
          <p class="card-text" style="font-family: league spartan; font-size: 18px;">Donating blood is a simple and powerful way to save lives, providing vital support to those in need of transfusions. By giving just a small amount of your time and blood, you can make a significant impact on someone's health and recovery.</p>
          <a href="https://www.youtube.com/@ummc" class="btn my-1" style="background-color: darkred; font-size: 16px; border: none; border-radius: 20px; color: white;">Watch More</a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 card" style="width: 18rem; border: none;">
        <video class="card-img-top" src="../static/image/Video-3.mp4" controls autoplay loop muted>Video-1</video>
        <div class="card-body ms-0">
          <h5 class="card-title">Voluntary Blood Donation</h5>
          <p class="card-text" style="font-family: league spartan; font-size: 18px;">Voluntary blood donation involves giving blood freely without compensation, driven by altruism and a desire to help others. It ensures a safe and steady supply of blood for patients in need.</p><br>
          <a href="https://www.youtube.com/@ummc" class="btn my-1" style="background-color: darkred; font-size: 16px; border: none; border-radius: 20px; color: white;">Watch More</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container my-5">
    <div class="card mb-3" style="border: none;">
      <div class="row g-0">
        <div class="col-6" style="border: none;">
          <video src="../static/image/pubs.mp4" class="img-fluid rounded-start" autoplay loop muted>ads for doantion</video>
        </div>
        <div class=" lead col-6">
          <div class="card-body" style="font-family: league spartan;">
            <h5 class="card-title">Book your donation-date</h5>
            <p class="card-text" style="font-size: 16px;">We all have the power to give blood, and at some point in life  we may all need blood from women with pregnancy or child-birth complications to children with several anemia to patients with Thalassemia or sickle cell disease. We need people world-wide to donate regularly because when a distraction strikes, help has to arrive first. The moment you donate blood, you are helping to provide safe blood for all. <em>Make a date to give, donate blood, save lives.</em></p>
            <p class="card-text"><small class="text-muted"><i>Updated 3 mins ago</i></small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid py-5" style="background-color: darkgrey;">
    <h4 class="card-title text-center pb-4">Feedback</h4>
    
    <form action="../index.html" class="d-grid gap-2 col-6 mx-auto">
      <div class="mb-3">
        <label for="fullname" class="form-label">Full Name</label>
        <input type="text" class="form-control" name="fullname" placeholder="Full Name" required>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" name="exampleFormControlInput1" placeholder="name@example.com" required>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Feedback</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
      </div>
      <input class="btn btn-primary my-2" type="submit" value="Send feedback">
    </form>
  </div>


  {% include "blood/footer.html" %}


</body>

</html>
